<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<section class="row bg-warning">
		<div class="col-md-4 p-4">
			<h6>About Us</h6>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem error nemo soluta distinctio beatae id quae fugiat explicabo consectetur ullam quo architecto debitis vitae cupiditate consequuntur, quas ab nihil ad.</p>
		</div>
		<div class="col-md-4 p-4">
			<h6>Contact Us</h6>
			<input class="form-control" type="email" placeholder="Enter email"><br>
			<textarea  class="form-control" name="" id="" placeholder="Enter your message here..." rows="10"></textarea><br>
			<button type="submit" class="bg-danger" >
				<a href="mailto:n84649011@gmail.com">Send Message!</a>
			</button>
		</div>
		<div class="col-md-4 p-4">
			<h6>Stay Conneected!</h6>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed reprehenderit eveniet eum assumenda, exercitationem minus modi sequi at sunt velit aliquam nulla corrupti porro architecto asperiores, ipsa, eius temporibus similique!</p>
		</div>
	</section>
</body>
<footer>Developed by Nganga Technologies Inc.&copy;2024.All Rights Reserved</footer>
<style></style>
</html>